In [1]:
import pivottablejs # in Anaconda cmd prompt, pip install pivottablejs
from pivottablejs import pivot_ui
import pandas as pd
import os

In [2]:
# cleaned data from Spyder program
path_data = 'T:\Projects\Adult Social Care\Inputs\Extraction tool\data prepped'

In [5]:
# Read data in
df = pd.read_csv(path_data + '\df_1415_longterm3.csv')
df.head()

,Unnamed: 0,Support type,Age category,Summary,Delivery mechanism,Accounting category,North West,North East,Yorkshire and Humber,West Midlands,East Midlands,East,South East,London,South West,ENGLAND
0,0,Long term,Age 18 to 64,Physical support,Nursing,Gross total cost: provision by others,11946.93,7311.51,11802.57,13690.18,9569.34,12858.80,19726.87,23966.36,12099.71,122972.28
1,1,Long term,Age 18 to 64,Physical support,Nursing,Gross total cost: grants to voluntary org,0.00,0.00,19.23,7.00,0.00,0.00,0.00,0.00,0.00,26.23
2,2,Long term,Age 18 to 64,Physical support,Nursing,Gross total cost: total expenditure,11946.93,7311.51,11821.80,13697.18,9569.34,12858.80,19726.87,23966.36,12099.71,122998.51
3,3,Long term,Age 18 to 64,Physical support,Nursing,Income: client contributions,3316.02,1176.26,1733.58,1811.88,1701.83,1566.36,4265.80,3362.29,1917.12,20851.14
4,4,Long term,Age 18 to 64,Physical support,Nursing,Income: joint arrangements,5.12,33.00,2.00,0.00,0.00,8.60,14.61,121.00,0.00,184.33

In [6]:
from pivottablejs import pivot_ui

pivot_ui(df, color=)